<ion-view view-title="About">
  <ion-nav-buttons side="right">
        <div class="cart-total ink" ui-sref="app.cart">
            <div ng-if="totalCartItem>0">
                <span>{{totalCartItem}}</span>
            </div>
            <button class="button ink button-icon button-clear fa fa-shopping-basket"></button>
        </div>
    </ion-nav-buttons>
  <ion-content class="about" scroll="false">
  	<div class="hero">
        <div class="content no-header">
            <span class="logo"></span>
        </div>
    </div>
    <p>Movet apeirian verterem eu quo, vix elit voluptatum te, has ea solum viris audiam. Mel ex suas fugit altera. Amet soluta quo id, hinc adhuc alterum nam ad. Qui in natum laudem fabulas.</p>
    <p><b>Address</b><br>123 N Harbor Dr. Redondo Beach, CA<br>United States 123456</p>
	<p><i class="icon ion-social-twitter"></i> <i class="icon ion-social-instagram"></i> <i class="icon ion-social-facebook"></i><br>
		@ionstore</p>
  </ion-content>
</ion-view>
