<ion-view view-title="{{appname}}">
	<ion-nav-buttons side="right">
        <div class="cart-total ink">
            <button class="button ink icon-cart button-icon button-clear ion-ios-search-strong" ui-sref="quicksearch"></button>
        </div>
        <div class="cart-total ink" ui-sref="app.cart">
            <div ng-if="totalCartItem>0">
                <span>{{totalCartItem}}</span>
            </div>
            <button class="button ink button-icon button-clear fa fa-shopping-basket"></button>
        </div>
    </ion-nav-buttons>
	<ion-content class="home bg" overflow-scroll="true">
        <ion-refresher
            on-refresh="doRefresh()">
        </ion-refresher>
        <div class="row">
            <ion-scroll direction="x">
                <div class="wide">
                    <div ng-repeat="x in categories" ui-sref="app.category({id: x.id, slug: x.slug, title: x.name})">
                        <div class="slide-item">
                            <div ng-if="!x.image" class="img" style="background-image: url(img/product.png)"></div>
                            <div ng-if="x.image" class="img" style="background-image: url({{x.image}})"></div>
                            <ion-spinner class="onload"></ion-spinner>
                        </div>
                        <span class="out"></span>
                        <h3 class="center" ng-bind-html="x.name"></h3>
                    </div>
                </div>
            </ion-scroll>
        </div>
        <div ng-if="products" class="item item-divider">
            NEWEST PRODUCTS
        </div>
		<div class="row grid" ng-repeat="x in products track by $index" ng-if="$index%2==0">
			<div class="col col-50 ink item" ng-if="$index < products.length" ui-sref="app.product({id: products[$index].id})">
                <div class="badge">
                    <span ng-if="!products[$index].in_stock" class="sold">Sold out</span>
                    <span ng-show="products[$index].regular_price > 0 && products[$index].on_sale" class="sale">
                        {{(products[$index].regular_price - products[$index].price)/products[$index].regular_price*100 | number:0}}% OFF
                    </span>
                </div>

                <ion-spinner class="onload"></ion-spinner>

                <div ng-if="products[$index].featured_src" class="img" style="background-image: url({{products[$index].featured_src}})"></div>
                <div ng-if="!products[$index].featured_src" class="img" style="background-image: url(img/product.png)"></div>
                <div class="info">
                    <h3>{{products[$index].title}}</h3>
                    <span><b>{{products[$index].price | currency:currency:0 | trusted}}</b></span>
                    <del ng-show="products[$index].regular_price > 0 && products[$index].on_sale">{{products[$index].regular_price | currency:currency:0 | trusted}}</del>
			    </div>
            </div>
			<div class="col col-50 ink item" ng-if="$index+1 < products.length" ui-sref="app.product({id: products[$index+1].id})">
                <div class="badge">
                    <span ng-if="!products[$index+1].in_stock" class="sold">Sold out</span>
                    <span ng-show="products[$index+1].regular_price > 0 && products[$index+1].on_sale" class="sale">
                        {{(products[$index+1].regular_price - products[$index+1].price)/products[$index+1].regular_price*100 | number:0}}% OFF
                    </span>
                </div>

                <ion-spinner class="onload"></ion-spinner>

                <div ng-if="products[$index+1].featured_src" class="img" style="background-image: url({{products[$index+1].featured_src}})"></div>
                <div ng-if="!products[$index+1].featured_src" class="img" style="background-image: url(img/product.png)"></div>
                <div class="info">
                    <h3>{{products[$index+1].title}}</h3>
                    <span><b>{{products[$index+1].price | currency:currency:0 | trusted}}</b></span>
                    <del ng-show="products[$index+1].regular_price > 0 && products[$index+1].on_sale">{{products[$index+1].regular_price | currency:currency:0 | trusted}}</del>
                </div>
            </div>
		</div>
        <ion-infinite-scroll on-infinite="loadMore()" distance="10%" ng-if="more"></ion-infinite-scroll>
	</ion-content>
</ion-view>
