<ion-view view-title="Order #{{id}}">
    <ion-nav-buttons side="right">
        <div class="cart-total ink" ui-sref="app.cart">
            <div ng-if="totalCartItem>0">
                <span>{{totalCartItem}}</span>
            </div>
            <button class="button ink button-icon button-clear fa fa-shopping-basket"></button>
        </div>
    </ion-nav-buttons>
	<ion-content class="checkout">
		<div class="item item-divider">
		  ORDER SUMMARY
		</div>
		<div class="padding">
            <label class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span><b>Status</b></span>
                    <span class="pull-right">
                        {{order.status}}
                    </span>
                </div>
            </label>
            <label class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span>Payment Method</span>
                    <span class="pull-right">
                        {{order.payment_details.method_title}}
                    </span>
                </div>
            </label>
            <label class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span>Shipping Method</span>
                    <span class="pull-right" ng-bind-html="order.shipping_lines[0].method_title">
                    </span>
                </div>
            </label>
            <label class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span>Shipping Cost</span>
                    <span class="pull-right">
                    	{{order.shipping_lines[0].total | currency: currency:0 | trusted}}
                    </span>
                </div>
            </label>
            <label ng-if="order.note" class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span>Notes</span>
                    <span class="pull-right">
                        {{order.note}}
                    </span>
                </div>
            </label>
            <label class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span>Subtotal</span>
                    <span class="pull-right">
                        {{order.subtotal | currency: currency:0 | trusted}}
                    </span>
                </div>
            </label>
            <label class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span>TOTAL</span>
                    <span class="pull-right">
                        {{order.total | currency: currency:0 | trusted}}
                    </span>
                </div>
            </label>
        </div>
        <div class="item item-divider">
           SHIPPING ADDRESS
        </div>
        <div class="padding">
            <label class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span>First Name</span>
                    <span class="pull-right">
                        {{order.shipping_address.first_name}}
                    </span>
                </div>
            </label>
            <label class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span>Last Name</span>
                    <span class="pull-right">
                        {{order.shipping_address.last_name}}
                    </span>
                </div>
            </label>
            <label class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span>Country</span>
                    <span class="pull-right">
                        {{order.shipping_address.country}}
                    </span>
                </div>
            </label>
            <label class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span>Address</span>
                    <span class="pull-right">
                        {{order.shipping_address.address_1}}
                    </span>
                </div>
            </label>
            <label class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span>City</span>
                    <span class="pull-right">
                        {{order.shipping_address.city}}
                    </span>
                </div>
            </label>
            <label class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span>State</span>
                    <span class="pull-right">
                        {{order.shipping_address.state}}
                    </span>
                </div>
            </label>
            <label class="item item-input item-floating-label item-icon-right">
                <div class="form-control">
                    <span>Postcode</span>
                    <span class="pull-right">
                        {{order.shipping_address.postcode}}
                    </span>
                </div>
            </label>
        </div>
        <div class="item item-divider">
		   LINE ITEMS
		</div>
		<ion-list class="cart">
            <ion-item ng-repeat="x in order.line_items track by $index" class="item">
                <div class="cart-detail">
                    <h2>{{x.name}}</h2>
                    <span ng-if="x.meta[0].key">{{x.meta[0].label}}: {{x.meta[0].value}}</span>
                    <div class="price">
                        {{(x.quantity * x.price) | currency: currency:0 | trusted}}
                    </div>
                    <h3>Qty: {{x.quantity}} items</h3>
                </div>
            </ion-item>
        </ion-list>
	</ion-content>
</ion-view>
